<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="sim_joint_interface" params="name">
        <joint name="${name}">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>

    <xacro:macro name="sim_fcp_joint_interface" params="name">
        <joint name="${name}">
            <command_interface name="position" />
            <state_interface name="position" />
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </xacro:macro>

    <xacro:macro name="joint_interface" params="name">
        <joint name="${name}">
            <command_interface name="position" />
            <state_interface name="position" />
        </joint>
    </xacro:macro>

    <xacro:macro name="elkapod_ros2_control" params="name:='elkapod' sim_mode:=^|false">

        <ros2_control name="${name}" type="system">
            <hardware>
                <xacro:if value="${sim_mode}">
                    <plugin>topic_based_ros2_control/TopicBasedSystem</plugin>
                    <param name="joint_commands_topic">/joint_command</param>
                    <param name="joint_states_topic">/joint_states</param>
                    <param name="sum_wrapped_joint_states">false</param>
                </xacro:if>

                <xacro:unless value="${sim_mode}">
                    <plugin>elkapod_description/elkapod_system_hardware</plugin>
                    <param name="uart_device">/dev/ttyAMA1</param>
                    <param name="uart_baudrate">1152000</param>
                    <param name="uart_timeout_ms">10</param>
                    <param name="spi_bus">0</param>
                    <param name="spi_cs">0</param>
                    <param name="spi_mode">2</param>
                    <param name="spi_speed_hz">1000000</param>
                </xacro:unless>
            </hardware>

            <xacro:if value="${sim_mode}">
                <xacro:sim_joint_interface name="leg1_J1" />
                <xacro:sim_joint_interface name="leg1_J2" />
                <xacro:sim_joint_interface name="leg1_J3" />
                <xacro:sim_joint_interface name="leg2_J1" />
                <xacro:sim_joint_interface name="leg2_J2" />
                <xacro:sim_joint_interface name="leg2_J3" />
                <xacro:sim_joint_interface name="leg3_J1" />
                <xacro:sim_joint_interface name="leg3_J2" />
                <xacro:sim_joint_interface name="leg3_J3" />
                <xacro:sim_joint_interface name="leg4_J1" />
                <xacro:sim_joint_interface name="leg4_J2" />
                <xacro:sim_joint_interface name="leg4_J3" />
                <xacro:sim_joint_interface name="leg5_J1" />
                <xacro:sim_joint_interface name="leg5_J2" />
                <xacro:sim_joint_interface name="leg5_J3" />
                <xacro:sim_joint_interface name="leg6_J1" />
                <xacro:sim_joint_interface name="leg6_J2" />
                <xacro:sim_joint_interface name="leg6_J3" />

                <xacro:sim_fcp_joint_interface name="leg1_FCP_joint" />
                <xacro:sim_fcp_joint_interface name="leg2_FCP_joint" />
                <xacro:sim_fcp_joint_interface name="leg3_FCP_joint" />
                <xacro:sim_fcp_joint_interface name="leg4_FCP_joint" />
                <xacro:sim_fcp_joint_interface name="leg5_FCP_joint" />
                <xacro:sim_fcp_joint_interface name="leg6_FCP_joint" />
            </xacro:if>

            <xacro:unless value="${sim_mode}">
                <xacro:joint_interface name="leg1_J1" />
                <xacro:joint_interface name="leg1_J2" />
                <xacro:joint_interface name="leg1_J3" />
                <xacro:joint_interface name="leg2_J1" />
                <xacro:joint_interface name="leg2_J2" />
                <xacro:joint_interface name="leg2_J3" />
                <xacro:joint_interface name="leg3_J1" />
                <xacro:joint_interface name="leg3_J2" />
                <xacro:joint_interface name="leg3_J3" />
                <xacro:joint_interface name="leg4_J1" />
                <xacro:joint_interface name="leg4_J2" />
                <xacro:joint_interface name="leg4_J3" />
                <xacro:joint_interface name="leg5_J1" />
                <xacro:joint_interface name="leg5_J2" />
                <xacro:joint_interface name="leg5_J3" />
                <xacro:joint_interface name="leg6_J1" />
                <xacro:joint_interface name="leg6_J2" />
                <xacro:joint_interface name="leg6_J3" />
            </xacro:unless>

            <!-- <sensor name="imu_sensor" type="imu">
                <state_interface name="orientation.x"/><state_interface name="orientation.y"/>
                <state_interface name="orientation.z"/><state_interface name="orientation.w"/>
                <state_interface name="angular_velocity.x"/><state_interface name="angular_velocity.y"/>
                <state_interface name="angular_velocity.z"/>
                <state_interface name="linear_acceleration.x"/><state_interface name="linear_acceleration.y"/>
                <state_interface name="linear_acceleration.z"/>
            </sensor> -->
        </ros2_control>
    </xacro:macro>
</robot>